transformers
sentence-transformers
faiss-cpu
torch
streamlit
python-docx
PyPDF2
pillow
plotly
st-audio-recorder
streamlit-option-menu
streamlit-card
streamlit-lottie
python-multipart
numpy
scikit-learn
spacy